@media screen and (max-width: 1024px) {
    .screen {
        display: none;
    }
}

body {
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(129, 188, 236); */
    background-color: rgb(205, 227, 230);
}

.screen {
    background-color: black;
}

.bg img {
    width: 110vw;
    height: 110vh;
    filter: brightness(1);
}

.left {
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
}

.left img {
    width: 100%;
    filter: brightness(1.4);
}

.mid {
    left: 120px !important;
    bottom: 40px !important;
    top: unset !important;
}

.mid img {
    width: 120%;
    z-index: 2;
    left: -20px;
    top: 20vh !important;
    filter: brightness(1);
}

.right img {
    width: 800px;
    height: 300px;
    position: absolute;
    left: 34vw;
    top: 25vh;
    z-index: 1;
    filter: brightness(1);
}

.navbar {
    width: 100%;
}

.container {
    margin: -10px 90px;
}

.shd_trans {
    background: transparent;
    background-color: aliceblue;
    opacity: 0.7;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.top-cont {
    font-weight: 600;
    background-color: rgb(65, 120, 168);
}